<template>
    <div>
        <div v-bind:style="styleObject">Winter is coming.</div>
        <div v-bind:class="classObject">STAK</div>

        <!-- Binding Inline Styles -->
        <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">Binding Inline Styles</div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            styleObject: {
                color: 'red',
                fontSize: '24px'
            },
            classObject: {
                active: true,
                'text-danger': false
            },
            activeColor: 'green',
            fontSize: 20
        }
    }
    
}
</script>
<style scoped>
    .active {
        background-color: green;
    }
    .text-danger {
        color: red;
    }
</style>
