<template>
    <div>
        <div id="example">
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
        </div>

        <div id="demo">
            First Name: <input v-model="firstName"> <br/>
            Last Name: <input v-model="lastName"> <br/>

            {{ fullName }}
            
            </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            message: 'Hello',
            firstName: 'Foo',
            lastName: 'Bar',
            fullName: 'Foo Bar'
        }
    },
    computed: {
        reversedMessage() {
            return this.message.split('').reverse().join('')
        }
    },
    watch: {
        firstName: function (val) {
            this.fullName = val + ' ' + this.lastName
        },
        lastName: function (val) {
            this.fullName = this.firstName + ' ' + val
        }
    }
}
</script>
