<template>
    <div>
        <span v-if="seen1">Now you see me</span>
        <span v-if="seen2">Now you can not see me</span>

        <div id="app-4">
        <ol>
            <li v-for="todo in todos">
            {{ todo.text }}
            </li>
        </ol>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            seen1: true,
            seen2: false,
            todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
            ]
        }
    }
}
</script>
