<template>
    <div>
        <div v-if="type === 'A'">
        A
        </div>
        <div v-else-if="type === 'B'">
        B
        </div>
        <div v-else-if="type === 'C'">
        C
        </div>
        <div v-else>
        Not A/B/C
        </div>



        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>
        <button v-on:click="toggleLoginType">Toggle login type</button>
    </div>
</template>
<script>
export default {
    data() {
        return {
            type: 'D',
            loginType: 'username'
        }
    },
    methods: {
        toggleLoginType() {
            if (this.loginType == 'username') {
                this.loginType = 'email'
            }else {
                this.loginType = 'username'
            }
            
        }
    }
    
}
</script>
