<template>
    <div>
        <h1>{{ message }}</h1>
        <span v-bind:title="title">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>
</template>
<script>
export default {
    data() {
        return {
            message: "Declarative Rendering",
            title: 'You loaded this page on ' + new Date().toLocaleString()
        }
    }
}
</script>
