<template>
    <div>
        <!-- Text -->
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>

        <!-- Multiline text -->
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message2 }}</p>
        <br>
        <textarea v-model="message2" placeholder="add multiple lines"></textarea>

        <!-- Checkbox -->
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>

        <div id='example-3'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
        </div>

<br>

        <!-- Radio -->
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>

<br>

        <!-- Select -->
        <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>

<br>

        <select v-model="selected2" multiple>
        <option>A</option>
        <option>B</option>
        <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected2 }}</span>

<br>
        <select v-model="selected3">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
        </select>
        <span>Selected: {{ selected3 }}</span>


    </div>
</template>
<script>
export default {
    data() {
        return {
            message: '',
            message2: '',
            picked: '',
            checkedNames: [],
            selected: '',
            selected2: [],
            selected3: 'A',
            options: [
            { text: 'One', value: 'A' },
            { text: 'Two', value: 'B' },
            { text: 'Three', value: 'C' }
            ]
        }
    }
}
</script>
