<template>
    <div>
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>

        <p>{{ message2 }}</p>
        <input v-model="message2">
    </div>
</template>
<script>
export default {
    data() {
        return {
            message: 'Hello Vue.js!',
            message2: 'Hello Vue!'
        }
    },
    methods: {
        reverseMessage: function () {
            this.message = this.message.split('').reverse().join('')
        }
    }
}
</script>
