<template>
    <div>
        <ul id="v-for-object" class="demo">
        <li v-for="value in object">
            {{ value }}
        </li>
        </ul>

        <div v-for="(value, name, index) in object">
        {{ index }}. {{ name }}: {{ value }}
        </div>

        <!-- Maintaining State -->
        <!-- Array Change Detection -->
        <ul>
        <li v-for="value in array1">
            {{ value && value.name}}
        </li>
        </ul>
        <button v-on:click="modifyA1">modifyA1 - push</button>

    </div>
</template>
<script>
export default {
    data() {
        return {
            object: {
                title: 'How to do lists in Vue',
                author: 'Jane Doe',
                publishedAt: '2016-04-10'
            },
            array1: [
                {name: 'n1'}, {name: 'n2'}, {name: 'n3'}
            ]
        }
    },
    methods: {
        modifyA1() {
            this.array1.push({name: 'n4'})
        }
    }
}
</script>
