<template>
    <div>
        <!-- Interpolations -->
        <!-- Text -->
        <span v-once>Message: {{ msg }}</span>

        <!-- Raw HTML -->
        <p>Using mustaches: {{ rawHtml }}</p>
        <p>Using v-html directive: <span v-html="rawHtml"></span></p>

        <!-- Attributes -->
        <button v-bind:disabled="isButtonDisabled">Button</button>

        <!-- Using JavaScript Expressions -->
        {{ number + 1 }}

        <!-- Directives -->
        <p v-if="seen">Now you see me</p>

        <!-- Dynamic Arguments -->
        <a v-bind:[attributeName]="url">URL1</a>


        <!-- Shorthands -->
        <!-- full syntax -->
        <a v-bind:href="url">URL2</a>

        <!-- shorthand -->
        <a :href="url">URL3</a>

        <!-- full syntax -->
        <button v-on:click="doSomething">doSomething</button>

        <!-- shorthand -->
        <button @click="doSomething"> doSomething </button>

        <!-- shorthand with dynamic argument (2.6.0+) -->
        <button @[event]="doSomething"> doSomething </button>
    </div>
</template>
<script>
export default {
    data() {
        return {
            msg: "messsssssage",
            rawHtml: "<span style='color: red;'> This should be red.</span>",
            isButtonDisabled: true,
            number: 9,
            seen: true,
            attributeName: 'href',
            url: "api/something",
            event: "click"
        }
    },
    methods: {
        doSomething() {
            alert("something is done.")
        }
    }
}
</script>
