<template>
    <div>
        <h1>What is Vue.js?</h1>
        <p class="clsp">
            Vue (pronounced /vjuː/, like view) is a progressive framework for building user interfaces. Unlike other monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable. The core library is focused on the view layer only, and is easy to pick up and integrate with other libraries or existing projects. On the other hand, Vue is also perfectly capable of powering sophisticated Single-Page Applications when used in combination with modern tooling and supporting libraries.
        </p>
    </div>
</template>
<script>
export default {
    data() {
        return {
            message: "Index?"
        }
    }
}
</script>
<style scoped>
    .clsp {
        width: 500px
    }
</style>
