<template>
    <div>
        <h1>{{ message }}</h1>
        <p>
            <!-- use router-link component for navigation. -->
            <!-- specify the link by passing the `to` prop. -->
            <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
            <div v-for="(lnk, idx) in links" :key="idx">
                <router-link :to="lnk.path">{{lnk.meta.title}}</router-link> <br/>
            </div>
            
        </p>
        <router-view></router-view>
    </div>
</template>
<script>
import Router from './router/router'

export default {
    data() {
        return {
            message: "Java C - Vue.js",
            links: Router
        }
    }
}
</script>
